<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Poke Store</title>
    <link rel="stylesheet" type="text/css" href="assets/css/style.css" />
    <script
      src="https://kit.fontawesome.com/a2bfbca97c.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!-- Navbar Start -->
    <nav class="navbar">
      <div class="navbar-center">
        <span class="nav-icon">
          <img src="images/icon-menu.svg" alt="Menu Icon" />
        </span>
        <img id="pokelogo" src="images/poke.png" alt="Store Logo" />
        <div class="cart-btn">
          <span class="nav-icon"
            ><img src="images/icon-cart.svg" alt="Cart Icon"
          /></span>
          <div class="cart-items">0</div>
        </div>
      </div>
    </nav>
    <!-- Navbar End -->
    <!-- Hero Start-->
    <header class="hero">
      <div class="banner">
        <h1 class="banner-title">Pokemon Collection</h1>
        <button class="banner-btn">Shop Now</button>
      </div>
    </header>
    <!-- Hero End -->
    <!-- Products Start -->
    <section class="products">
      <div class="section-title">
        <h2>Our Products</h2>
      </div>
      <div class="products-center">
        <%for (let i=0; i<products.length;i++){%>
        <article class="product">
          <div class="img-container">
            <img
              src="images/product-1.jpg"
              alt="Pokemon Cards"
              class="product-image"
            />
            <button class="bag-btn" data-id="1">Add to basket</button>
          </div>
          <h3><%=products[i].title%></h3>
          <h4>$<%=products[i].price%></h4>
        </article>
        
        <%}%>
      </div>
    </section>
    <!-- Products End -->
    <!-- Cart Start -->
    <div class="cart-overlay">
      <div class="cart">
        <span class="close-cart"
          ><img src="images/icon-close.svg" alt="Close Cart Icon"
        /></span>
        <h2>Your Cart</h2>
        <div class="cart-content">
          <!-- Cart Item Start -->
          <div class="cart-item">
            <img src="images/product-1.jpg" alt="Product 1 image" />
            <div>
              <h4>Card Pack</h4>
              <h5>$200</h5>
              <span class="remove-item">Remove</span>
            </div>
            <div>
              <i class="fa-solid fa-arrow-up"></i>
              <p class="item-amount">1</p>
              <i class="fa-solid fa-arrow-down"></i>
            </div>
          </div>
          <!-- Cart Item End -->
        </div>
        <div class="cart-footer">
          <h3>Your Total: <span class="cart-total">0</span></h3>
          <button class="clear-cart banner-btn">Clear cart</button>
        </div>
      </div>
    </div>
    <!-- Cart End -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="js/index.js"></script>
  </body>
</html>
